extends ./layout.jade

block head
	title Pir Calculator
	script(src="js/vendors/jquery.min.js")
	link(href='css/styles.css', rel='stylesheet')

block body
	h1 Pir Calculator

	div.taeFormWrapper
		form(name="taeForm")
			section.add
				div.label Answer
				input(type="number", id='answer')
				div.actions
					input(type="button", value="Calculate", id='calculateButton')
					input(type="button", value="Remove Last", id='removeButton')
			section.edit
				div.label Question
				input(type="number", class='question')
				div.label Answer
				input(type="number", class='answer')
				div.actions
					input(type="button", value="Edit", id='editButton')


	pre.answers
	pre.results
	script(src="js/betFormHandler.js")